@font-face{
	font-family: "quicksand-regular";
	src:url("../fonts/Quicksand-Regular.ttf");
}

@font-face{
	font-family: "quicksand-semibold";
	src:url("../fonts/Quicksand-SemiBold.ttf");
}

@font-face{
	font-family: "quicksand-light";
	src:url("../fonts/Quicksand-Light.ttf");
}

@font-face{
	font-family: "quicksand-medium";
	src:url("../fonts/Quicksand-Medium.ttf");
}


@font-face{
	font-family: popins-bold;
	src: url("../fonts/Poppins-Bold.TTF");
}

@font-face{
	font-family: popins-medium;
	src: url("../fonts/Poppins-Medium.TTF");
}

@font-face{
	font-family: popins-regular;
	src: url("../fonts/Poppins-Regular.ttf");
}

@font-face{
	font-family: popins-semibold;
	src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face{
	font-family: popins-light;
	src: url("../fonts/Poppins-Light.ttf");
}

@font-face{
	font-family: centaur-bold;
	src: url("../fonts/Centaur Bold.otf");
}

@font-face{
	font-family: celtic;
	src: url("../fonts/CELTG__.ttf");
}

@font-face{
	font-family: quezom;
	src: url("../fonts/OPTIQuezonRoman-Book.otf");
}

@font-face{
	font-family: argos;
	src: url("../fonts/ArgosGeorge.ttf");
}

@font-face{
	font-family: Montserrat-Light;
	src: url("../fonts/Montserrat-Light.ttf");
}

@font-face{
	font-family: Montserrat-Regular;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face{
	font-family: Montserrat-Semibold;
	src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face{
	font-family: Montserrat-Extrabold;
	src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face{
	font-family: Montserrat-Medium;
	src: url("../fonts/Montserrat-Medium.ttf");
}


@font-face{
	font-family: Platypi-900;
	src: url("../fonts/Platypi-ExtraBold.ttf");
}


@font-face{
	font-family: Platypi-800;
	src: url("../fonts/Platypi-Bold.ttf");
}


@font-face{
	font-family: Platypi-700;
	src: url("../fonts/Platypi-SemiBold.ttf");
}

@font-face{
	font-family: Platypi-500;
	src: url("../fonts/Platypi-Regular.ttf");
}

@font-face{
	font-family: Platypi-400;
	src: url("../fonts/Platypi-Medium.ttf");
}

@font-face{
	font-family: Platypi-300;
	src: url("../fonts/Platypi-Light.ttf");
}

@font-face{
	font-family: worksans-300;
	src: url("../fonts/WorkSans-Light.ttf");
}


@font-face{
	font-family: worksans-400;
	src: url("../fonts/WorkSans-Medium.ttf");
}


@font-face{
	font-family: worksans-600;
	src: url("../fonts/WorkSans-Regular.ttf");
}



@font-face{
	font-family: worksans-700;
	src: url("../fonts/WorkSans-SemiBold.ttf");
}



@font-face{
	font-family: popins-italic-700;
	src: url("../fonts/Poppins-ExtraBoldItalic.otf");
}

@font-face{
	font-family: popins-italic-600;
	src: url("../fonts/Poppins-BoldItalic.otf");
}










